<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ignore real files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all requests to index.html (Vue Router will handle the routing)
  RewriteRule ^ index.html [QSA,L]
</IfModule>
